<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
	 "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>ergo</title>
	<link type="text/css" rel="stylesheet" href="./lib/semantic.min.css">
	<link rel="stylesheet" href="style.css" type="text/css">
	
	<script language="javascript" src="./lib/jquery.min.js"></script>
	<script src="./lib/semantic.min.js"></script>
	<script src="./lib/arbor.js"></script>  
	<script src="./lib/angular.min.js"></script>  

	<script src="main.js"></script>
	
</head>
<body ng-app="ergo" ng-controller="main">
	<div class="pusher">
		
		<div class="ui secondary fixed menu">
			<div class="header item">
				ergo
			</div>
			<a class="item" ng-click="showPhysics()">
				<i class="options icon"></i> Physics
			</a>
			<a class="item" ng-click="showImport()">
				Import
			</a>
			<a class="item" ng-click="saveState()">
				Export
			</a>
			<a class="item" ng-show="!allNodesVisible" ng-click="toggleChildren(conclusion, true)">
				<i class="unhide icon"></i> Show all
			</a>
		</div>
		
		<canvas id="viewport" width="1000" height="600"></canvas>
		
		<button class="ui icon button popup-tips" id="toggle-panel-1" ng-click="togglePanel()" data-content="Expand panel">
			<i class="large angle up icon"></i>
		</button>
		
		<div class="ui small modal" id="confirm-delete">
			<i class="close icon"></i>
			<div class="header">
				Delete statement
			</div>
			<div class="image content">
				<div class="image">
					<i class="trash icon"></i>
				</div>
				<div class="description">
					<p>Delete this statement? (All children will be deleted.)</p>
				</div>
			</div>
			<div class="actions">
				<div class="ui red cancel button">
					<i class="remove icon"></i>
					No
				</div>
				<div class="ui green approve button">
					<i class="checkmark icon"></i>
					Yes
				</div>
			</div>
		</div>
		
		<div class="ui small modal" id="physics-panel">
			<i class="close icon"></i>
			<div class="header">
				Physics
			</div>
			<div class="content">
				
				<!--div id="physics-radius">
					Size:
					<div class="ui grey range"></div>
					<input type="hidden" ng-model="userPhysics.radius">
				</div>
				<div ng-show="conclusion.data.childCount != 0" id="physics-repulsion">
					Repulsion:
					<div class="ui grey range"></div>
					<input type="hidden" ng-model="userPhysics.repulsion">
				</div>
				<div ng-show="conclusion.data.childCount != 0" id="physics-friction">
					Friction:
					<div class="ui grey range"></div>
					<input type="hidden" ng-model="userPhysics.friction">
				</div>
				<div ng-show="conclusion.data.childCount != 0" id="physics-stiffness">
					Stiffness:
					<div class="ui grey range"></div>
					<input type="hidden" ng-model="userPhysics.stiffness">
				</div-->
				
				<div>
					Size:
					<input type="range" min="5" max="100" ng-model="userPhysics.radius">
				</div>
				<div ng-show="conclusion.data.childCount != 0">
					Repulsion:
					<input type="range" min="0" max="1000" ng-model="userPhysics.repulsion">
				</div>
				<div ng-show="conclusion.data.childCount != 0">
					Friction:
					<input type="range" min="10" max="10000" ng-model="userPhysics.friction">
				</div>
				<div ng-show="conclusion.data.childCount != 0">
					Stiffness:
					<input type="range" min="10" max="1000" ng-model="userPhysics.stiffness">
				</div>
			</div>
			<div class="actions">
				<div class="ui green approve button">
					<i class="checkmark icon"></i>
					Ok
				</div>
			</div>
		</div>
		
		<div class="ui small modal" id="import-panel">
			<i class="close icon"></i>
			<div class="header">
				Import
			</div>
			<div class="content">
				<input type="file" accept=".json" id="import-file">
			</div>
			<div class="actions">
				<div class="ui green approve button">
					<i class="checkmark icon"></i>
					Import
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="ui bottom sidebar visible vertical menu">
		<button class="ui icon button popup-tips" id="toggle-panel-2" ng-click="togglePanel()" data-content="Collapse panel">
			<i class="large angle down icon"></i>
		</button> 
		<div class="ui vertical icon buttons" id="panel-menu" ng-show="selected">
			<button ng-click="addNode(selected, true)" class="ui button popup-tips" ng-class="{disabled: !selected || !selected.data.showChildren}" data-content="New supporting statement" data-position="right center"><i class="large green plus icon"></i></button>
			<button ng-click="addNode(selected, false)" class="ui button popup-tips" ng-class="{disabled: !selected || !selected.data.showChildren}" data-content="New opposing statement" data-position="right center"><i class="large red plus icon"></i></button>
			<button ng-click="toggleChildren(selected, false)" ng-show="!selected || selected.data.showChildren" class="ui button popup-tips" ng-class="{disabled: disableChildToggle()}" data-content="Hide children" data-position="right center"><i class="large toggle on icon"></i></button>
			<button ng-click="toggleChildren(selected, true)" ng-show="selected && !selected.data.showChildren" class="ui button popup-tips" ng-class="{disabled: disableChildToggle()}" data-content="Show children" data-position="right center"><i class="large toggle off icon"></i></button>
			<button ng-click="pruneNode(selected)" class="ui button popup-tips" ng-class="{disabled: !selected || selected.data.conclusion}" data-content="Delete statement" data-position="right center"><i class="large trash icon"></i></button>
		</div>
		<!--button class="ui icon button popup-tips" id="panel-menu" data-content="Actions">
		</button-->
		<div id="panel-content">
			<div class="ui form">
				<div class="field">
					<textarea ng-show="selected" ng-model="selected.data.content"></textarea>
					<span class="light" ng-show="!selected">
						Nothing selected
					</span>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
