.ui.secondary.menu {
	margin-left: 5px;
	margin-right: 5px;
}

#toggle-panel-1 {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#toggle-panel-2 {
	position: absolute;
	left: 20px;
	top: 20px;
}

#panel-menu {
	position: absolute;
	left: 20px;
	top: 70px;
}

#toggle-panel-2.ui.slider.checkbox label {
	color: #fff;
}

body {
	overflow: hidden;
}

#panel-content {
	min-height: 250px;
	padding: 20px 20px 20px 80px;
}

.light {
	opacity: .5;
}

#physics-panel .ui.range {
	margin: 20px auto;
}

#viewport {
	width: 100vw;
	height: 100vh;
}
