.ui.secondary.menu {
	margin-left: 5px;
	margin-right: 5px;
}

#toggle-panel-1 {
	position: absolute;
	left: 20px;
	bottom: 20px;
}

#toggle-panel-2 {
	position: absolute;
	left: 20px;
	top: 20px;
}

#toggle-panel-2.ui.slider.checkbox label {
	color: #fff;
}

body {
	overflow: hidden;
}

#panel-content {
	min-height: 100px;
	padding: 20px 20px 20px 80px;
}
